<div class="mat-app-background basic-container">
<mat-card style="padding-left: 0px;padding-bottom: 0px;padding-right: 0px;padding-top: 0px;">
  <div class="card-header">
    {{data.bank_name}}
  </div>
  <div class="card-body" style="text-align: left">
    <p class="card-text">Bank Name : {{data.bank_name}}</p>
    <p class="card-text">Branch : {{data.branch}}</p>
    <p class="card-text">IFSC Code : {{data.ifsc}}</p>
    <p class="card-text">Address : {{data.address}}</p>
    <p class="card-text">District : {{data.district}}</p>
    <p class="card-text">City : {{data.city}}</p>
    <p class="card-text">State : {{data.state}}</p>
  </div>
  <div class="card-footer text-muted">
   Bank ID : {{data.bank_id}}
  </div>
</mat-card>

</div>
